body{
    background-color: blue;
}
.whatmangoeshelpuswith{
    background-color: chartreuse;
}
.Mangofacts{
    background-color: crimson;
}
.whatmangoesdotoyourbody{
    background-color: darkorange;
}
.whatmangoeshavetooffer{
    background-color: yellow.
}